<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Package IgnorableNamespaces="uap mp build" xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build">
  
  <Identity Name="VVVVV" Publisher="CN=DM" Version="1.0.69.0" ProcessorArchitecture="x64"/>
  <mp:PhoneIdentity PhoneProductId="427dcaab-9254-4c48-bf6e-db5aa10789e1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>VVVVV</DisplayName>
    <PublisherDisplayName>DM</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0"/>
    <PackageDependency Name="Microsoft.VCLibs.140.00.Debug" MinVersion="14.0.27810.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"/>
  </Dependencies>
  <Resources>
    <Resource Language="EN-US"/>
    <Resource uap:Scale="200"/>
    
  </Resources>
  <Applications>
    <Application Id="App" Executable="VVVVV.exe" EntryPoint="winrt.App">
      <uap:VisualElements DisplayName="VVVVV" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="winrt" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient"/>
    <uap:Capability Name="documentsLibrary"/>
    <rescap:Capability Name="broadFileSystemAccess"/>
    <uap:Capability Name="removableStorage"/>
  </Capabilities>
  <build:Metadata>
    <build:Item Name="cl.exe" Version="19.28.29115.0 built by: vcwrkspc"/>
    <build:Item Name="VisualStudio" Version="16.0"/>
    <build:Item Name="VisualStudioEdition" Value="Microsoft Visual Studio Enterprise 2019"/>
    <build:Item Name="OperatingSystem" Version="10.0.19041.1 (WinBuild.160101.0800)"/>
    <build:Item Name="Microsoft.Build.AppxPackage.dll" Version="16.0.30404.54"/>
    <build:Item Name="ProjectGUID" Value="{92ac9e39-689a-4e67-9371-4f077eac8c98}"/>
    <build:Item Name="OptimizingToolset" Value="None"/>
    <build:Item Name="TargetRuntime" Value="Native"/>
    <build:Item Name="Microsoft.Windows.UI.Xaml.Build.Tasks.dll" Version="10.0.19041.1"/>
    <build:Item Name="MakePri.exe" Version="10.0.19041.1 (WinBuild.160101.0800)"/>
  </build:Metadata>
</Package>